@media (max-width: 768px) {
  .col-6{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .btn-primary{
    margin-bottom: 10%;
  }
}
body {
	background: #F8F7F9;
	font-family: 'Open Sans', sans-serif;
}
h1{
  font-size: 2.3rem;
  text-align: center; 
}
h2{
	font-size: 1.37rem;
}
p{
	font-size: 1.2rem;
}
#main-content{
  margin-top: 6%;
  color: #242325;
}
.btn:hover{
  box-shadow: 1px 1px 2px rgba(74, 48, 89, .4);
  cursor: pointer;
	color: #F8F7F9;
	background-color: #dc7684;
}
.btn-primary{
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #5cb0a2;
  border: none;
  float: right;
  min-width: 100%;
}
#navigation{
  background-color: #8484c3;
  padding: 1%;
}
.navbar-light .navbar-nav .nav-link, .navbar-nav a.navbar-brand{
  color: #F8F7F9;
}
label.form-label{
  font-weight: bold;
} 
#pageDescription{
  padding-bottom: 10%;
}
textarea{
  resize: none;
}
.card-header{
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #8484c3;
  color: #F8F7F9;
}
.card{
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .22);
  min-height: 79vh;
  min-height: 100%;
  border-radius: 0.25rem;
}
#hero{
  padding-top: 5%;
  padding-bottom: 3%;
  text-align: center; 
}
#hero h1{
  padding-top: 2%;
  padding-bottom: 2%;
}
#hero p{
  padding-left: 14%;
  padding-right: 14%;
  padding-bottom: 8%;
}
.col-sm-6{
  margin-bottom: 20px;
}
.col-sm-6 .card p{
  margin-top: 35px;
  margin-bottom: 45px;
}
img.logo{
  max-width: 204px;
  border-radius: 9999px;
}
/* generators page */
#generators{
  padding-top: 5%;
  padding-bottom: 5%;
}
#generators h1{
  padding-bottom: 5%;
}
