:root {
  --primary-color: #8484c3;
  --secondary-color: #5cb0a2;
  --text-color: #242325;
  --background-color: #F8F7F9;
  --btn-hover-color: #dc7684;
  --white-color: #F8F7F9;

  /* Dark mode variables */
  --dark-primary-color: #1E2028;
  --dark-secondary-color: #5cb0a2;
  --dark-text-color: #b3b6bd;
  --dark-background-color: #2A2D34;
  --dark-btn-hover-color: #dc7684;
}

.dark-mode {
  --primary-color: var(--dark-primary-color);
  --secondary-color: var(--dark-secondary-color);
  --text-color: var(--dark-text-color);
  --background-color: var(--dark-background-color);
  --btn-hover-color: var(--dark-btn-hover-color);
}

@media (max-width: 768px) {
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .btn-primary {
    margin-bottom: 10%;
  }
}
body {
  background: var(--background-color);
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 2.3rem;
  text-align: center;
  padding-bottom: 5%;
}
h2 {
  font-size: 1.37rem;
}
p {
  font-size: 1.2rem;
}
#main {
  background-color: var(--background-color);
  padding: 6%;
  height: 100vh;
  color: var(--text-color);
}
/* Nav*/
#navigation {
  background-color: var(--primary-color);
  padding: 1%;
}
.navbar-light .navbar-nav .nav-link,
.navbar-nav a.navbar-brand {
  color: var(--white-color);
}
/*Home Page*/
#hero {
  padding-bottom: 3%;
  text-align: center;
}
#hero h1 {
  padding-top: 2%;
  padding-bottom: 2%;
}
#hero p {
  padding-left: 14%;
  padding-right: 14%;
  padding-bottom: 8%;
}
img.logo {
  max-width: 204px;
  border-radius: 9999px;
}
/*Generator*/
#pageDescription {
  padding-bottom: 10%;
}
textarea {
  resize: none;
}
label.form-label {
  font-weight: bold;
}
.pre-wrap {
  white-space: pre-wrap;
}
.copy-button {
  color: var(--white-color);
  background-color: var(--secondary-color);
  border: none;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 10px;
  right: 10px;
}
.response-container {
  margin-bottom: 60px;
}
/* Buttons */
.btn:hover {
  box-shadow: 1px 1px 2px rgba(74, 48, 89, 0.4);
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--btn-hover-color);
}
.btn-primary {
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: var(--secondary-color);
  border: none;
  float: right;
  min-width: 100%;
}
/*Cards*/
.card-header {
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: var(--primary-color);
  color: var(--white-color);
}
.card {
  background-color: var(--background-color);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .22);
  min-height: 79vh;
  min-height: 100%;
  border-radius: 0.25rem;
}
.card-body {
  background-color: var(--background-color);
}
.col-sm-6 {
  margin-bottom: 20px;
}
.col-sm-6 .card p {
  margin-top: 35px;
  margin-bottom: 45px;
}

.theme-toggle {
  background-color: var(--background-color);
  width: 40px;
  height: 40px;
  border: none;
  font-size: 24px;
  padding: 10x 10px;
  color: var(--text-color);
  border-radius: 5px;
  transition: color 0.2s;
}
button:focus {
  outline: none;
}

.theme-toggle .fas.fa-sun {
  color: #F4D35E;
}
